:root {
    /** ### Primary**/

    --Green: hsl(75, 94%, 57%);

    /** ### Neutral **/

    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --Dark_Grey: hsl(0, 0%, 12%);
    --Off_Black: hsl(0, 0%, 8%);

    /** Fonts **/

    --fuente: "Inter", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 14px;
}

.container {
    background-color: var(--Off_Black);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
}

.card {
    background-color: var(--Dark_Grey);
    width: 320px;
    margin: 50px 20px;
    border-radius: 10px;
    padding: 20px;
}

.card--info__img {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.card--info__img img {
    width: 90px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    border-bottom: 2em;
}

h1 {
    color: var(--White);
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0;
}

h2 {
    color: var(--Green);
    font-size: 1.2em;
    text-align: center;
    margin-top: 10px;
}

p {
    color: var(--White);
    text-align: center;
    margin: 2.5em 0 1rem 0;
    font-size: 14px;
}

.card--boton {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1em;
}

.boton {
    padding: 1em;
    color: var(--White);
    background-color: var(--Grey);
    border: none;
    border-radius: 10px;
    font-weight: 700;
    transition: background-color 250ms;
}

.boton:nth-child(1) {
    margin-top: 1em;
}

.boton:hover {
    background-color: var(--Green);
    color: var(--Off_Black);
    cursor: pointer;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 1140px) {
    .container {
        background-position: top;
        background-size: contain;
    }
}